.home-ext
{
	/*border: solid 1px red;*/
	text-align:left;	
	background-color:rgba(255,255,255,1);
	padding:20px;
	padding-left:10px;
}
.home-ext > div
{
	text-align:left;
	font-size:x-large;
	font-weight:900;
	font-family:'az_SemiBold';
	padding-left:15px;
	margin-bottom:20px;
}