/* global styles for HTML & BODY */
*
{
    box-sizing: border-box;
	vertical-align:top;
	line-height:normal;
	margin:0px;
	padding:0px;
}

body
{
    background-color: rgba(32, 32, 32, 1);
    color: rgba(224, 224, 224, 1);
    font-family: 'Segoe UI', 'Tahoma', Arial;
}

.react-root
{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	display:block;
	padding:0px;
	margin:0px;
	border: solid 0px rgba(255,255,255,1);
}

.RootLinkCss
{
	padding:20px;
	border: solid 2px red;
	cursor:pointer;
	user-select:none;
}
.RootLinkCssExtra
{
	padding:20px;
	border: solid 2px yellow;
}
.RootLinkCss:hover
{
	border: solid 2px blue;
}
.RootLinkCssExtra:hover
{
	border: solid 2px green;
}