/* colors
	#61dafb;
	 #282c34;
*/
.App
{
	border: solid 0px #61dafb;
	margin:0px;
	overflow:hidden;
}

header
{
	border: solid 0px #61dafb;
	background-color:#0078d4;
	margin:0px;
	display:flex;
	min-height:40px;
	max-height:40px;
}
header > *
{
	margin:4px;
	border: solid 1px #61dafb;	
	flex-shrink:1;
	flex-grow: 1;
	flex-basis:0;
	overflow:hidden;
	display:flex;
}
.brand-panel
{
	width: 300px;
	min-width:100px;
	max-width:300px;
}
.search-panel
{
	width:auto;
	min-width:50px;
	max-width:700px;
}
.tools-panel
{
	width:  250px ;
	min-width:100px;
	max-width:250px;
}
.users-panel
{
	width:  250px ;
	min-width:100px;
	max-width:250px;
}

main
{
	border: solid 0px red;
	margin:0px;
	overflow:auto;
	height:calc(100% - 40px);
	display:flex;
	flex-wrap:nowrap;
	flex-direction:row;
	/*justify-content:center;
	align-items:stretch;*/
}
main > *
{
	border: solid 1px #61dafb;	
	overflow:auto;
	margin:0px;
	flex-shrink:1;
	flex-grow: 1;
	flex-basis:0;
}
.nav-panel-default
{
	min-width: 250px;
    flex: inherit;
    order: 1;
	order:1;
	background-color: #f9f9f9;
	color: #000000;
}
.extension-panel-default
{
	width:auto;
	min-width: 400px;
	max-width:100%;
	order:2;

}
.context-panel-default
{
	width:  400px;
	min-width:400px;
	max-width:  400px;
	order:3;

}