.search-panel
{
	/*border: solid 1px red;*/
	padding:0px;
	margin:0px;
	height:36px;
	font-style:normal;
	display:inline-block;
}

.input-box-class {
    /*border: solid 1px red;*/
    padding: 10px;
    margin: 5px 0 0 0;
    background-color: rgba(179, 214, 242, 1);
    font-style: normal;
    height: 30px;
    width: 400px;
    color: rgba(0,0,0,1);
    outline: 0;
    border: none;
    border-radius: 2px;
}

.results-panel {
    border: 1px solid #aeaeae;
    border-radius:3px;
    box-shadow: 2px 4px 28px -5px rgba(0,0,0,0.58);
    background-color: #ffffff;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 40px;
    /* min-width: calc(292px); */
    width: calc(800px);
    /* min-height: calc(1%); */
    height: fit-content;
    overflow: auto;
    /* padding: 5px; */
    margin: 0px;
    z-index: 1;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
}
.results-panel-open {
    border: 1px solid #aeaeae;
    border-radius: 3px;
    box-shadow: 2px 4px 28px -5px rgba(0,0,0,0.58);
    background-color: #ffffff;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 40px;
    /* min-width: calc(292px); */
    width: calc(800px);
    /* min-height: calc(1%); */
    height: fit-content;
    overflow: auto;
    /* padding: 5px; */
    margin: 0px;
    z-index: 1;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
}

#input-box::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    font-family: 'Segoe UI', 'Tahoma', Arial;

}

.search-result
{
	border: solid 1px rgba(128,128,128,1);
	padding:5px;
	margin:0px;
	margin-bottom:5px;
	cursor:pointer;
}
.search-result:last-child
{
	margin-bottom:0px;
}
.search-result:hover
{
	background-color:rgba(200, 248, 240, 0.8)
}

.zero-result
{
	font-size: 13px;
	color: rgba(64,64,64,1);
}

.quadrant {
    width:50%;
    height:100px;
}

.quadrant-title {
    width: 100%;
    display: flex;
    padding: 8px 17px;
}

.quadrant-title-text {
    color: #000;
    font-size: 13px;
}

.divider {
    flex: 1 2 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 9px;
    margin: 0 10px;
    border-color: rgba(204,204,204,.8);
}
.see-more {
    color: #005BD8;
    font-size: 11px;
    width: auto;
    cursor: pointer;
}
