.dsh-brd-main
{
    border-style: dashed;
    margin: 20px;
    padding: 20px;
    color: rgba(255,255,255,1);
    width: calc(100% - 260px);
    min-width: 400px;
    height: calc(100% - 80px);
    left: 225px;
    position: absolute;
}
