.dsh-brd-main
{
    position: absolute;
    left: 225px;
    width: calc(100%);
    min-width: 400px;
    height: calc(100%);
    color: rgba(0,0,0,1);
    margin: 0px;
    padding: 30px;
    background-color: rgba(222, 222, 222,1);
	background-image:linear-gradient(-180deg, rgba(176, 176, 176, 1) 0px, rgba(222, 222, 222, 1) 15px);
}
.dsh-brd-main-expanded
{
    position: absolute;
    left: 50px;
    width: calc(100%);
    min-width: 400px;
    height: calc(100%);
    color: rgba(0,0,0,1);
    margin: 0px;
    padding: 30px;
    background-color: rgba(208, 208, 208,1);
	background-image:linear-gradient(-180deg, rgba(176, 176, 176, 1) 0px, rgba(222, 222, 222, 1) 15px);
}