.dsh-brd-main {
    border-style: dashed;
    margin: 20px;
    padding: 20px;
    color: #ac1515;
    width: calc(100% - 260px);
    min-width: 400px;
    height: calc(100% - 80px);
    left: 220px;
    position: relative;
}
