.vertnav-main {
    border-style: none;
    background-color: #252525;
    color: #fff;
    left: 0;
    top: 40px;
    bottom: 0;
    width: 230px;
    position: absolute;
}

    .vertnav-main .extension {
        width: 100%;
        margin: 0;
        padding-left: 20px;
        height: 48px;
        line-height: 36px;
    }

    .vertnav-main .minimize {
        height: 22px;
    }

        .vertnav-main .minimize .icon {
            width: 12px;
            height: 12px;
            fill: #fff;
            right: 4px;
            position: absolute;
        }

.icon {
    margin-right: 5px
}


#Layer_1 {
    /*fill: #7FBA00; /*Jackie SVG Hack*/*/
}
