.user-logon-container-ctrl
{
	/*border: solid 1px white;*/
	display:block;
	flex: 0 0 220px;
	min-width:220px;
}

.user-info-panel
{
	/*border: solid 1px red;*/
	display:flex;
	cursor: pointer;
	height:40px;
}
.user-info-panel:hover
{
	background-color:rgba(0,0,0,0.2);
}

.user-info-text
{
	flex: 1 0 auto;
	padding-right:5px;
}
.user-info-text-name
{
	color:rgba(255,255,255,1);
	text-align:right;
	font-size:13px;
	margin-top:4px;
}
.user-info-text-company
{
	text-align:right;
	font-size:10px;
	color:rgba(255,255,255,1);
}

.user-image
{
	flex: 0 0 40px;
	/*border: solid 1px red;*/
}
.user-image svg, .user-image img
{
	margin-top:5px;
	height:30px;
	width:30px;
	border: solid 0px rgba(255,255,255,0.6);
	border-radius:16px;
	box-shadow: 0px 0px 4px 4px rgba(255,255,255,0.3);
}


/* flyout */
.user-account-panel
{
	/*border: solid 1px red;*/
	background-color:rgba(255,255,255,1);
	box-shadow: -4px 4px 10px 0px rgba(0,0,0,0.2);
	position:absolute;
	right:0px;
	width:320px;
	min-height:100px;
	cursor:pointer;
	z-index:2;
	/*display:none;*/
}

.uap-company
{
	/*border: solid 1px red;*/
	display:flex;
}
.uap-company-name
{
	/*border: solid 1px red;*/
	flex: 1 0 auto;
	padding:10px;
	padding-left:15px;
	text-align:left;
}
.uap-sign-in-out
{
	/*border: solid 1px red;*/
	flex: 0 0 100px;
	padding:10px;
	padding-right:5px;
}
.uap-sign-in-out:hover
{
	background-color: rgba(41,41,41,0.1);
	color:rgba(41,41,41,0.9);
}

.uap-avatar
{
	/*border: solid 1px red;*/
	display:flex;
	padding:10px;
	padding-left:15px;
	margin-top:10px;
	margin-bottom:10px;
}
.uap-avatar-image
{
	/*border: solid 1px red;*/
	flex: 0 0 auto;
}
.uap-avatar-image > svg, .uap-avatar-image > img
{
	width:100px;
	height:100px;
	border-radius:50px;
}
.uap-avatar-text
{
	/*border: solid 1px red;*/
	flex: 1 0 auto;
	text-align:left;
	margin-left:10px;
}

.uap-user-name
{
	font-family: 'az_SemiBold';
	font-size: 18px;
	text-align:left;
}
.uap-user-email
{
	margin-top:5px;
	text-align:left;
}
.uap-user-links
{
	margin-top:5px;
	text-align:left;
	color: rgb(0, 120, 214);
}

.uap-swap-login
{
	font-family: 'az_Regular';
	font-size:13px;
	padding:15px;
	text-align:left;
	background-color: rgba(41,41,41,0.05);
	color:rgba(41,41,41,0.8);
	cursor:pointer;
}
.uap-swap-login:hover
{
	background-color: rgba(41,41,41,0.1);
	color:rgba(41,41,41,0.9);
}