.left-nav-btn{
	/* border: 1px solid red; */
	display:flex;
    padding: 4px 0;
	font-size: 13px;

}

img{
	width: 20px;
    height: 20px;
}

.divider{
	width: 20px;
	height:1px;
	background-color: #000000;
}


.left-nav-favorites{
	
}

/* .nav-panel-default
{
	width:  250px ;
	min-width:50px;
	max-width:250px;
	order:1;
} */