<html>
<head>
	<title id="PageTitle">AMPED</title>
	<!--<link href="azure-ws.asmx" rel="prefetch" />-->
	<link href="css/_demo_reactjs.css" rel="stylesheet" />

	<!-- script requirements in order -->
	<!-- react & jsx -->
	<!-- add react links first, then custom controls -->
	<!-- CDN paths -->
	<!--
		<script crossorigin="*" type="text/javascript" src="https://unpkg.com/react@15/dist/react.js"></script>
		<script crossorigin="*" type="text/javascript" src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
		<script crossorigin="*" type="text/javascript" src="https://unpkg.com/react@15.6.1/dist/react-with-addons.js"></script>
		<script src="https://unpkg.com/react@latest/dist/react.js"></script>
		<script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
		<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	-->
	<script src="js/utilities.js"  type="text/javascript"></script>
	<script src="script/react/react-15.6.1.js" type="text/javascript"></script>
	<script src="script/react/react-dom-15.6.1.js" type="text/javascript"></script>
	<!-- custom react controls -->
	<script src="controls/application.js" type="text/javascript"></script>

	<!-- the "main" app -->
	<script type="text/javascript" src="js/_demo_reactjs.js"></script>
</head>
<body>
	<div id="AppBody"></div>
</body>
</html>