<html>
<head>
	<title>Azure Project "Acuity" Prototype Template</title>
	<link href="css/main.css" rel="stylesheet" />
	<!-- script requirements in order -->
	<!-- 
		1. react & react-dom & other libraries
		2. custom controls 
		3. our application
		4. main.js
	-->
	<!-- from CDN paths -->
	<!--
	<script src="https://unpkg.com/react@latest/dist/react.js"></script>
	<script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
	-->
	<script src="js/utilities.js" type="text/javascript"></script>
	<script src="script/react/react-latest.js" type="text/javascript"></script>
	<script src="script/react/react-dom-latest.js" type="text/javascript"></script>

	<!-- our react style controls-->
	<!--<script src="controls/application.js" type="text/javascript"></script>-->
	<!-- our react application -->
	<script src="components/standard-controls/root-link.js"></script>
	<script src="components/standard-controls/search-link.js"></script>
	<script src="components/standard-controls/user-switch.js"></script>
	<script src="components/standard-controls/vetical-nav.js"></script>
	<script src="components/application.js" type="text/javascript"></script>
	<!-- our "main" app -->
	<script src="js/main.js" type="text/javascript" ></script>
</head>
<body>
	<div id="AppBody"></div>
</body>
</html>