<html>
<head>
    <title>Project Acuity - Azure Prototype</title>
    <!-- ReactJs - from CDN paths -->
	<!--<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
	<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>-->
	<!--<script crossorigin src="https://unpkg.com/@babel/standalone/babel.min.js"></script>-->
	    
    <script src="script/react/react-latest.js" type="text/javascript"></script>
    <script src="script/react/react-dom-latest.js" type="text/javascript"></script>
	<!--<script src="script/babel/babel.7.1.0.min.js" type="text/javascript"></script>-->

	<!-- 
		REMOVED USING THE ES5/6 MODULE PATTERNS FOR CLASSES & IMPORT/EXPORTS
		asset & utility scripts 
		react application & controls modules 
	-->
    <!--<script src="js/svg-assets.js" type="text/javascript"></script>-->
    <!--<script src="js/utilities.js" type="module"></script>-->
    <!--<script src="components/standard-controls/button/button.js" type="text/javascript"></script>
    <script src="components/shell-controls/context-panel/context-panel.js" type="text/javascript"></script>
    <script src="components/shell-controls/dashboard/dashboard.js" type="text/javascript"></script>
    <script src="components/shell-controls/top-navigation-bar/top-navigation-bar.js" type="text/javascript"></script>
    <script src="components/shell-controls/user-account-switcher/user-account-switcher.js" type="text/javascript"></script>
    <script src="components/shell-controls/vertical-navigation-bar/vertical-navigation-bar.js" type="text/javascript"></script>-->

    <!-- "main" app -->
    <script src="js/main.js" type="module"></script>
</head>
<body>
	<main id="ApplicationElement"></main>
</body>
</html>