<html>
<head>
    <title>Project Acuity - Azure Prototype</title>
    <link href="css/default.css" rel="stylesheet" />
	<!--
		NEED TO FIX HAVE CSS IS INJECTED - these two lines break the layout
		<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->

    <!-- script requirements in order -->
	<!--
        1. react, react-dom & other libraries
        2. util class - used in the controls
        3. controls & application javascript class files
        4. main.js
    -->
    <!-- ReactJs - from CDN paths -->
    <!--
    <script src="https://unpkg.com/react@latest/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
    -->
    <script src="script/react/react-latest.js" type="text/javascript"></script>
    <script src="script/react/react-dom-latest.js" type="text/javascript"></script>
    <script src="script/babel/babel-6.js" type="text/javascript"></script>

    <!-- our react application & controls-->
    <script src="js/svg-assets.js" type="text/javascript"></script>
    <script src="js/utilities.js" type="text/javascript"></script>

    <script src="components/standard-controls/button/button.js" type="text/javascript"></script>
    <!-- <script src="components/standard-controls/container-control/container-control.js" type="text/javascript"></script> -->
    <script src="components/shell-controls/context-panel/context-panel.js" type="text/javascript"></script>
    <script src="components/shell-controls/dashboard/dashboard.js" type="text/javascript"></script>
    <script src="components/shell-controls/top-navigation-bar/top-navigation-bar.js" type="text/javascript"></script>
    <script src="components/shell-controls/user-account-switcher/user-account-switcher.js" type="text/javascript"></script>
    <script src="components/shell-controls/vertical-navigation-bar/vertical-navigation-bar.js" type="text/javascript"></script>

    <!-- our "main" app -->
    <script src="js/application.js" type="text/javascript"></script>
    <script src="js/config.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
</head>
<body id="ApplicationElement"></body>
</html>