.ext-base
{
	/*border: solid 1px red;*/
	/*border-top: solid 1px rgba(190,190,190,1);
	border-left: solid 0px rgba(190,190,190,0);
	border-right: solid 0px rgba(190,190,190,0);
	border-bottom: solid 0px rgba(190,190,190,0);*/
	display:flex;
	flex-direction:column;
	height:calc(100%);
	width:calc(100%);
	overflow:hidden;
	text-align:left;
	vertical-align:top;
	padding:0px;
}

.ext-base-content-area
{
	/*border: solid 1px red;*/
	height:calc(100%);
	width:calc(100%);
	overflow:auto;
}

/*.ExtensionBase-NoBreadCrumb
{
	display:block;
	height:calc(100% );
	width:calc(100%);
	overflow:auto;
}*/

