.ext-base
{
	/*border: solid 1px red;*/
	/*border-top: solid 1px rgba(190,190,190,1);
	border-left: solid 0px rgba(190,190,190,0);
	border-right: solid 0px rgba(190,190,190,0);
	border-bottom: solid 0px rgba(190,190,190,0);*/
	display:block;
	height:calc(100%);
	width:calc(100%);
	overflow:auto;
	text-align:left;
	vertical-align:top;
	padding:20px;
}
.ext-base *
{
	text-align:left;
}
.ext-base > svg
{
	width:50px;
	height:50px;
}

/*.ExtensionBase-NoBreadCrumb
{
	display:block;
	height:calc(100% );
	width:calc(100%);
	overflow:auto;
}*/

