.bread-crumb-btn
{
	/*border: solid 1px blue;*/
	display:inline-block;
	height:28px;
	width:auto;
}
.bc-divider
{
	/*background-color:red;*/
	color: rgba(0,0,0,1);
	font-size:13px;
	flex: 0 0 14px;
	display:inline-block;
	vertical-align:top;
	order: 2;
	/*padding-left:3px;
	padding-right:3px;*/
	margin-top:3px;
}
.bread-crumb-panel
{
	/*border: solid 1px red;*/ 
	display:inline-block;
	flex: 1 0 100px;
	align-items:flex-start;
	order: 1;
	padding:4px;
	padding-left:10px;
	padding-right:10px;
	vertical-align:top;
	height:100%;
}
.bread-crumb-panel:hover
{
	background-color:rgba(85,179,255, 0.2);
	cursor:pointer;
}

.bread-crumb-icon
{
	/*border: solid 1px red;*/
	display:inline-block;
	width:20px;
	height:20px;
	text-align:left;
	vertical-align:top;
	margin-right:4px;
}
.bread-crumb-icon > svg
{
	height: 18px;
	width:18px;
}
.bread-crumb-text
{
	/*border: solid 1px red;*/
	color: rgba(0, 108, 215,1);
	display:inline-block;
	height:20px;
	font-size:13px;
	vertical-align:top;
}
.bread-crumb-text:hover
{
	color: rgba(0, 78, 185,1);
	text-decoration:underline;
}
.bread-crumb-text-no-link
{
	color: rgba(0, 0, 0,1);
	display:inline-block;
	height:20px;
	font-size:13px;
	vertical-align:top;
}