/* 
colors
[name] = #61dafb;
[name] = #282c34;
*/
.App
{
	border: solid 0px #61dafb;
	margin:0px;
	overflow:hidden;
	min-width:1000px;
}
:focus
{
	outline: dashed 1px #61dafb;
}

/* HEADER CONTAINER STYLES */
header
{
	border: solid 0px #61dafb;
	background-color:#0078d4;
	margin:0px;
	display:flex;
	min-height:40px;
	max-height:40px;
	min-width:1000px;
}
header > * 
{
	/*border: solid 1px red;*/
	overflow: hidden;
	display: flex;
}

.brand-panel 
{
	flex: 0 0 300px;
	min-width:300px;
}
.search-panel
{
	flex: 1 1 auto;
	min-width:200px;
}
.tools-panel
{
	flex: 0 1 250px;
	min-width:250px;
	text-align:right;
	align-items:center;
	justify-content:flex-end;
	margin:1px;
	padding:1px;
}
.users-panel
{
	color: rgba(255,255,255,1);
	flex: 0 0 300px;
	min-width:300px;
}

/* HEADER COMPONENT STYLES */
/* "brand-panel" children */
.prototype-panel 
{
	background-color:lime;
	color:black;
	width:100px;
	vertical-align:top;
	padding-top:11px;
	cursor:pointer;
}
.preview-panel
{
	background-color: orange;
	color:black;
	width:100px;
	vertical-align:top;
	padding-top:11px;
	cursor:pointer;
}
.ms-az-brand
{
    font-family: 'az_SemiBold';
	font-size:16px;
    line-height: 40px;
    padding: 0 20px;
	color: rgba(255,255,255,1);
}

/* "search-panel" children if needed, also see other controls */
/* "tools-panel" children if needed, also see other controls */
/* "users-panel" children if needed, also see other controls */

/* content area */
main
{
	border: solid 0px red;
	background-color: rgba(249,249,249,1);
	background-image: linear-gradient(180deg, rgba(200,200,200,1) 0px, rgba(249,249,249,0.2) 15px);
	margin: 0px;
	overflow: hidden;
	height: calc(100% - 40px);
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}
main > *
{
	/*border: solid 1px #61dafb;*/	
	overflow:auto;
	margin:0px;
	flex-shrink:1;
	flex-grow: 1;
	flex-basis: 0;
}
.nav-panel-default
{
	/*background-color: rgba(0,0,0,0);*/
	max-width:225px;
    flex: 0 0 auto;
	overflow:hidden;
    order: 1;
}

.extension-panel-default
{
	/*border: solid 1px red;*/
	/*width:100%;*/
	/*flex-basis: calc(100%);*/
	/*flex: 0 0 auto;*/
	min-width: 400px;
	max-width:100%;
	width:calc(100%);
	order:2;
	box-shadow: 0px 0px 10px 4px rgba(190,190,190,0.4);
	overflow:auto;
}

.context-panel-default
{
	width:  400px;
	min-width:400px;
	max-width:  400px;
	order:3;
}
