@font-face
{
	font-family: az_Light;
	src: url('./SegoeUI-Light.ttf') format('truetype');
}
@font-face
{
	font-family: az_SemiLight;
	src: url('./SegoeUI-Semilight.ttf')  format('truetype');
}
@font-face
{
	font-family: az_Regular;
	src: url('./SegoeUI-Regular.ttf')  format('truetype');
}
@font-face
{
	font-family: az_SemiBold;
	src: url('./SegoeUI-Semibold.ttf')  format('truetype');
}
@font-face
{
	font-family: az_Bold;
	src: url('./SegoeUI-Bold.ttf')  format('truetype');
}