*
{
	box-sizing:border-box;
	margin: 0px;
	padding: 0px;
	text-align:center;
	vertical-align:top;
	line-height:normal;
	/*border: solid 1px red;*/
}

body
{
	/*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;*/
	font-family: 'az_Regular';
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow:auto;
	background-color:rgba(255,255,255,1);
	color:rgba(0,0,0,1);
	height:calc(100%);
	width:calc(100%);
}
#root
{
	/*padding:50px;*/
	/*border:solid 2px rgba(0, 255, 33,1);*/
	/*background-color:rgba(242,242,242,1);*/
	position:absolute;
	height:calc(100%);
	width:calc(100%);
	min-width:100%;
	min-height:100%;
	display:grid;
}
.debug
{
	/*border: solid 1px red;*/
	display:block;
	text-align:left;
	padding:20px;
}
.debug > *
{
	/*border: solid 1px red;*/
	display:block;
	text-align:left;
}
.debug > svg
{
	height:48px;
	width:48px;
}
p
{
	text-align:left;
}
.test-logo
{
	/*border: solid 1px red;*/
	height:100px;
	width:100px;
	margin-top:100px;
}