.search-box-panel
{
	/*background-color:yellow;*/
	padding:0px;
	margin:0px;
	display:block;
	width:100%;
	vertical-align:top;
	text-align:center;
}
.search-area-panel
{
	text-align:center;
	display:inline-block;
}

.input-box-class 
{
    border: none;
    border-radius: 2px;
    background-color: rgba(179, 214, 242, 1);
    height: 30px;
    width: 400px;
    padding: 0px;
	padding-left:10px;
    margin: 0px;
	margin-top:5px;
	text-align:left;
    font-style: normal;
    color: rgba(0,0,0,1);
}
.input-box-class::placeholder 
{
    font-family: 'Segoe UI', 'Tahoma', Arial;
	font-style: italic;
    color: rgba(128,128,128,1);
}

.results-panel 
{
    border: 1px solid #aeaeae;
    border-radius:3px;
    box-shadow: 2px 4px 28px -5px rgba(0,0,0,0.58);
    background-color: #ffffff;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 36px;
    width: calc(800px);
    overflow: auto;
    margin: 0px;
    z-index: 1;
    display: none;
    flex-wrap: wrap;
}
.results-panel-open 
{
    /*border: 1px solid #aeaeae;
    border-radius: 3px;
    box-shadow: 2px 4px 28px -5px rgba(0,0,0,0.58);
    background-color: #ffffff;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 36px;
    width: calc(800px);
    overflow: auto;
    margin: 0px;
    z-index: 1;
    flex-wrap: wrap;*/
    display: flex;
}

.search-result
{
	border: solid 1px rgba(128,128,128,1);
	padding:5px;
	margin:0px;
	margin-bottom:5px;
	cursor:pointer;
}
.search-result:last-child
{
	margin-bottom:0px;
}
.search-result:hover
{
	background-color:rgba(200, 248, 240, 0.8)
}

.zero-result
{
	font-size: 13px;
	color: rgba(64,64,64,1);
}

.quadrant {
    width: 50%;
    height: 220px;
    overflow: hidden;
}

.quadrant-title {
    width: 100%;
    display: flex;
    padding: 8px 17px;
}

.quadrant-title-text {
    color: #000;
    font-size: 13px;
}

.divider {
    flex: 1 2 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 9px;
    margin: 0 10px;
    border-color: rgba(204,204,204,.8);
}
.see-more {
    color: #005BD8;
    font-size: 11px;
    width: auto;
    cursor: pointer;
}
