.buttonControl {
    width: auto;
    height: auto;
    background-color: transparent;
    display: inline-block;
    margin: 5px 10px;
    color: #fff;
}


.dark.buttonControl {
    border: 2px dashed #fff;
    
}





