.buttonControl {
    width: auto;
    height: auto;
    background-color: transparent;
    display: inline-block;
    margin: 0px 10px;
    color: #fff;
    cursor: pointer;
    border-radius:2px;
    padding: 5px;
}

    .buttonControl :focus {
        border: 1px dashed #55b3ff;
    }

    .buttonControl:hover {
        background-color: rgba(255, 255, 255,.2);
    }


.RootLinkCss {
    padding: 20px;
    border: solid 2px red;
    cursor: pointer;
    user-select: none;
}

.RootLinkCssExtra {
    /*padding:20px;
	border: solid 2px yellow;*/
}

.RootLinkCss:hover {
    border: solid 2px blue;
}

.RootLinkCssExtra:hover {
    border: #00bcf2 dashed 1px;
}

.RootLinkCss:focus {
    border: solid 2px blue;
}

.RootLinkCssExtra:focus {
    border: #00bcf2 dashed 1px;
    outline: 0;
}

.svg-icon {
    /*border: solid 1px red;*/
}

.dark.buttonControl {
    border: 2px dashed #fff;
}

.TopNavBtn {
    display: inline-block;
    fill: #fff;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-right: 1px solid rgba(255, 255, 255, .5);
    cursor: pointer;
    margin: 0;
}

.TopNavBtn :hover {
    background-color: rgba(255, 255, 255, .2);
}

.TopNavBtn .icon {
    width: 20px;
    height: 20px;
}

.IconNoText {

}

.IconWithText {
    display:flex;
}

svg {
    width: 100%;
    height: 100%;
}






