.BreadCrumbControl
{
	/*border: solid 1px red;*/
	background-color: rgba(240,240,240,1);
	color: rgba(0,0,0,1);
	height:32px;
	padding:5px;
	padding-left:30px;
	font-size:14px;
	overflow:hidden;
}
.bc-link
{
	color: rgba(16,96,255,1);
	text-decoration:none;
	display: inline-block;
	/*border: solid 1px white;*/
	margin-right:5px;
}
.bc-divider
{
	display: inline-block;
	/*border: solid 1px white;*/
	color: rgba(0,0,0,1);
	margin-right:5px;
}
