.className
{
	color:red;
}

.UserAccount {
    /* border: 3px dashed red; */
    width: 230px;
    /* height: 275px; */
    position: absolute;
    z-index: 5;
    display: inline-block;
    right: 0;
    top: 0;
}

.me-control-btn {
    background-color: rgba(28,28,28,1);
    width: 100%;
    height: 40px;
}

.me-control-container {
    width: 330px;
    right: 0;
    position: absolute;
}

.me-control-container .buttonControl {
    color: #000;
    width: 100px;
    display: inline-flex;
    margin: 0 0 0 10px;
    font-size: 14px;
    line-height: 15px;
}

.me-control-container .buttonControl .icon {
    width: 20px;
    height: 19px;
    margin-right: 4px;
}

.top-controls-container {
    height: 35px;
    padding-top: 10px;
    background-color: #fff;
}

.current-user {
    background-color: white;
    height: 160px;
}

.current-user .left {
    width: 50%;
    height: 100%;
    padding: 50px;
}

.potential-logins {
    height: 160px;
    background-color: gray;
}

.me-control-btn {
    display: flex;
}

.credentials-container {
    color: #fff;
    font-size: 14px;
    flex: 7;
}

.user-name {
    font: 14px SegoeUI-SemiBold;
}

.user-company {
    font-size: 11px;
}

.user-img {
    width: 30px;
    height: 30px;
    flex: 3;
    margin-top: 4px;
    fill: #fff;
}
svg {
    width: 100%;
    height: 100%;
}