.cntxt-pnl-main {
    position: absolute;
    top: 39px;
    bottom: 0;
    right: 0;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid black;
    color: #ac1515;
    display:none;
}
