.dash-ext
{
	text-align:left;
	background-color:rgba(228,228,228,1);
	padding:20px;
	height:100%;
}
.dash-ext > div
{
	text-align:left;
	font-size:x-large;
	font-weight:900;
	font-family:'az_SemiBold';
	padding-left:15px;
}