.DashboardExtension
{
    background-image: linear-gradient(-180deg, rgba(176, 176, 176, 1) 0px, rgba(222, 222, 222, 0) 10px);
	background-color:rgba(227,227,227,1);
	padding:20px;
}

.dashboard-header
{
	/*border: solid 1px red;*/
	margin-left:10px;
	padding:0px;
}
.dash-title-panel
{
	border: solid 1px red;
	font-size: 26px;
	display:inline-block;
}

.db-btn
{
	display:inline-block;
}
.db-btn > .btn-text-default
{
	width:auto;
	/*border: solid 1px red;*/
}
