.dsh-brd-main
{
    position: absolute;
    left: 225px;
	top: 40px;
	right:0px;
	bottom:0px;
    color: rgba(0,0,0,1);
    margin: 0px;
	overflow:auto;
	background-color:rgba(240,240,240,1);
    /*width: calc(100%);*/
    /*min-width: 400px;*/
    /*height: calc(100%);*/
    /*padding: 10px;*/

}
.dsh-brd-main-expanded
{
    position: absolute;
	top: 40px;
    left: 50px;
	right:0px;
	bottom:0px;
    color: rgba(0,0,0,1);
    margin: 0px;
	overflow:auto;
    /*width: calc(100%);
    min-width: 400px;
    height: calc(100%);*/
    /*padding: 10px;*/
}