.dsh-brd-main
{
    position: absolute;
    left: 225px;
	top: 40px;
	right:0px;
	bottom:0px;
    /*width: calc(100%);*/
    /*min-width: 400px;*/
    /*height: calc(100%);*/
    color: rgba(0,0,0,1);
    margin: 0px;
    /*padding: 10px;*/
    background-color: rgba(222, 222, 222,1);
	background-image:linear-gradient(-180deg, rgba(176, 176, 176, 1) 0px, rgba(222, 222, 222, 1) 15px);
	overflow:auto;
}
.dsh-brd-main-expanded
{
    position: absolute;
	top: 40px;
    left: 50px;
	right:0px;
	bottom:0px;
    /*width: calc(100%);
    min-width: 400px;
    height: calc(100%);*/
    color: rgba(0,0,0,1);
    margin: 0px;
    /*padding: 10px;*/
    background-color: rgba(208, 208, 208,1);
	background-image:linear-gradient(-180deg, rgba(176, 176, 176, 1) 0px, rgba(222, 222, 222, 1) 15px);
	overflow:auto;
}