.topnav-main
{
    height: 40px;
    background-color: rgba(0, 120, 212, 1);
	/*// #0078d4*/

    color: #FFFFFF;
    padding: 0px;
    display: flex;
    min-width: 1024px;
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,.16);*/
	/*move to background gradient in child controls*/
}
.topnav-main > *
{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    display: inline-flex;
    /*min-width: 250px;
    border-radius: 5px;
    max-width: 460px;*/
}

/* additional themes */
.dark-theme.topnav-main
{
    background: #000000;
    color: #ff006e;
}


/* children */
.banner-panel {
    background-color: #ff8c00 !important;
    color: #000000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 14px;
    max-width: 100px;
}
.dark-theme.banner-panel
{
	background-color: #00ff0d;
}

.brand-title-panel {
    background-color: transparent;
    /*border: solid 1px #ff006e;*/
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
    max-width: 400px;
    line-height: 33px;
}
.dark-theme.brand-title-panel
{
    color: #ff006e;
}

.global-search-panel
{
	background-color: transparent;
	color: #FFFFFF;
    /*border: solid 1px #ff6a00;*/
	padding:5px;
	margin:3px;
	text-align:center;
}
.dark-theme.global-search-panel
{
	color: #ff006e;
}


.shell-ctrls-panel
{
    /*border-width: 1px;
	border-color:#ffd800;
	border-style: solid;*/
	background-color: transparent;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
	max-width:250px;
	text-align:right;
}
.dark-theme.shell-ctrls-panel
{
	/*border-color: #ff006e;*/
}

.user-switcher-panel
{
    /*border: solid 1px #00ff0d;*/
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
	max-width:250px;
}
.dark-theme.user-switcher-panel
{
    /*border: solid 10px #00ff0d;*/
}